<head>
    <link rel="stylesheet" href="/styles/ladder.css">
</head>
<div class="header">
    <img src="https://e0.365dm.com/22/10/2048x1152/skysports-world-cup-qatar-2022_5921764.jpg">
<h1 id="text">WorldCup 2022</h1>
</div>
<hr>
<div class="menu">
    <ul>
    <li><a href="/home">Main Page</a></li>
    <li><a href="/groups" >Groups</a></li>
    <li><a href="/ladder" >Ladder</a></li>
    <li><a href="/teams" >Teams</a></li>
    </ul>
</div>
<hr>
<div class="inf">
<div>1/8 Finals </div>
<div>Quarterfinals</div>
<div>Semi-finals</div>
<div>Finals</div>
</div>
<div class="main">
<div class="matches8">
{{!-- 1/8 Finalu --}}
    {{!-- Holandia vs Usa --}}
    
<div class="HvU" id="Match-1">
    <table>
        <tr>
    {{#each Match1}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    
    <tr>
    {{#each Match2}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Argentyna vs Australia --}}
<div class="AvA" id="Match-1">
<table>
        <tr>
    {{#each Match3}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match4}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Japonia vs Chorwacja --}}
<div class="JvC" id="Match-1">
<table>
        <tr>
    {{#each Match5}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match6}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Brazylia vs Korea Południowa --}}
<div class="BvKP" id="Match-1">
<table>
        <tr>
    {{#each Match7}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match8}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Polska vs Francja --}}
<div class="PvF" id="Match-1">
<table>
        <tr>
    {{#each Match9}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match10}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Anglia vs Senegal --}}
<div class="AvS" id="Match-1">
<table>
        <tr>
    {{#each Match11}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match12}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Maroko vs Hiszpania --}}
<div class="MvH" id="Match-1">
<table>
        <tr>
    {{#each Match13}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match14}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Portugalia vs Szwajcaria --}}
<div class="PvS" id="Match-1">
<table>
        <tr>
    {{#each Match15}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match16}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.firstm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
</div>
<div class="matches4">
{{!-- 1/4 finalu --}}
{{!-- Holandia vs Argentyna --}}
<div class="HvA" id="Match-2">
<table>
        <tr>
    {{#each Match1}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.secondm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match3}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.secondm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Chorwacja vs Brazylia --}}
<div class="CvB" id="Match-2">
<table>
        <tr>
    {{#each Match6}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.secondm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match7}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.secondm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Anglia vs Francja --}}
<div class="AvF" id="Match-2">
<table>
        <tr>
    {{#each Match9}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.secondm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match11}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.secondm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Maroko vs Portugalia --}}
<div class="MvP" id="Match-2">
<table>
        <tr>
    {{#each Match13}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.secondm}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match15}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.secondm}}</td>
    {{/each}}
    </tr>
    </table>
</div>
</div>
{{!-- 1/2 finalu --}}
{{!-- Argentyna vs Chorwacja --}}
<div class="matches2">
<div class="AvC" id="Match-3">
<table>
        <tr>
    {{#each Match3}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.third}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match6}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.third}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- third place match --}}
<div class="MvC" id="Match-3">
<table>
    <p>Third place Match</p>
        <tr>
    {{#each Match13}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.third}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match6}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.third}}</td>
    {{/each}}
    </tr>
    </table>
</div>
{{!-- Francja vs Maroko --}}
<div class="FvM" id="Match-3">
<table>
        <tr>
    {{#each Match9}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.third}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match13}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.third}}</td>
    {{/each}}
    </tr>
    </table>
    </div>
    </div>
{{!-- Finals --}}
<div class="final">
<div class="ArvF" id="Match-4">
<table>
        <tr>
    {{#each Match3}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.four}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each Match9}}
    <td><img src="{{this.src}}" class="photo">
    <td>{{this.name}}</td>
    <td>{{this.four}}</td>
    {{/each}}
    </tr>
    </table>
</div>
</div>
</div>