<head>
    <link rel="stylesheet" href="/styles/teams.css">
</head>
<div class="header">
    <img src="https://e0.365dm.com/22/10/2048x1152/skysports-world-cup-qatar-2022_5921764.jpg">
<h1 id="text">WorldCup 2022</h1>
</div>
<hr>
    <div class="menu">
    <ul>
    <li><a href="/home" >Main Page</a></li>
    <li><a href="/groups">Groups</a></li>
    <li><a href="/ladder">Ladder</a></li>
    <li><a href="/teams">Teams</a></li>
    </ul>
</div>
<hr>
<div class="main1">
<div class="TeamsFlags" id="Argentina">
    {{#each Argentina}}
    <div class="FlagDiv">
    <a href="/Argentina"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Australia">
    {{#each Australia}}
    <div class="FlagDiv">
    <a href="/Australia"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Belgium">
    {{#each Belgium}}
    <div class="FlagDiv">
    <a href="/Belgium"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Brazil">
    {{#each Brazil}}
    <div class="FlagDiv">
    <a href="/Brazil"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Cameroon">
    {{#each Cameroon}}
    <div class="FlagDiv">
    <a href="/Cameroon"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Canada">
    {{#each Canada}}
    <div class="FlagDiv">
    <a href="/Canada"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Costaricka">
    {{#each Costa_ricka}}
    <div class="FlagDiv">
    <a href="/Costa_ricka"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Croatia">
    {{#each Croatia}}
    <div class="FlagDiv">
    <a href="/Croatia"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Denmark">
    {{#each Denmark}}
    <div class="FlagDiv">
    <a href="/Denmark"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Ecuador">
    {{#each Ecuador}}
    <div class="FlagDiv">
    <a href="/Ecuador"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="England">
    {{#each England}}
    <div class="FlagDiv">
    <a href="/England"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="France">
    {{#each France}}
    <div class="FlagDiv">
    <a href="/France"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Germany">
    {{#each Germany}}
    <div class="FlagDiv">
    <a href="/Germany"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Ghana">
    {{#each Ghana}}
    <div class="FlagDiv">
    <a href="/Ghana"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Iran">
    {{#each Iran}}
    <div class="FlagDiv">
    <a href="/Iran"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Japan">
    {{#each Japan}}
    <div class="FlagDiv">
    <a href="/Japan"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Korea">
    {{#each South_Korea}}
    <div class="FlagDiv">
    <a href="/South_Korea"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Mexico">
    {{#each Mexico}}
    <div class="FlagDiv">
    <a href="/Mexico"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Morocco">
    {{#each Morocco}}
    <div class="FlagDiv">
    <a href="/Morocco"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Netherlands">
    {{#each Netherlands}}
    <div class="FlagDiv">
    <a href="/Netherlands"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Poland">
    {{#each Poland}}
    <div class="FlagDiv">
    <a href="/Poland"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Portugal">
    {{#each Portugal}}
    <div class="FlagDiv">
    <a href="/Portugal"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Qatar">
    {{#each Qatar}}
    <div class="FlagDiv">
    <a href="/Qatar"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="SaudiArabia">
    {{#each Saudi_Arabia}}
    <div class="FlagDiv">
    <a href="/Saudi_Arabia"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Senegal">
    {{#each Senegal}}
    <div class="FlagDiv">
    <a href="/Senegal"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Serbia">
    {{#each Serbia}}
    <div class="FlagDiv">
    <a href="/Serbia"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Spain">
    {{#each Spain}}
    <div class="FlagDiv">
    <a href="/Spain"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Switzerland">
    {{#each Switzerland}}
    <div class="FlagDiv">
    <a href="/Switzerland"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Tunisia">
    {{#each Tunisia}}
    <div class="FlagDiv">
    <a href="/Tunisia"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="USA">
    {{#each USA}}
    <div class="FlagDiv">
    <a href="/USA"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Uruguay">
    {{#each Uruguay}}
    <div class="FlagDiv">
    <a href="/Uruguay"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
<div class="TeamsFlags" id="Wales">
    {{#each Wales}}
    <div class="FlagDiv">
    <a href="/Wales"><img src="{{this.src}}" class="TeamPhoto"></a>
    </div>
    <div class="ShcDiv">
    {{this.name}}<br>
    {{this.shc}}
    </div>
     {{/each}}
</div>
</div>